<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Noticias" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>

<StackLayout #layout>
  <search-form (search)="searchNow($event)"></search-form>
  <ListView class="list-group" [items]="resultData" (itemTap)="onNavItemTap('/list-details', $event)">
    <ng-template let-nameFuncionalidad="item">
      <FlexboxLayout>
        <Image class="thumb img-circle" src="res://funcionalidad"></Image>
        <Label class="list-group-item-heading" text="{{nameFuncionalidad}}" verticalAligment="center"></Label>
      </FlexboxLayout>
    </ng-template>
  </ListView>

</StackLayout>

<ActivityIndicator #activityIndicator [busy]="resultData.length === 0" width="100" height="100" class="activity-indicator">
</ActivityIndicator>