<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="{{country.name}}" colSpan="2"></Label>

        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>

<StackLayout class="page__content">
    <GridLayout rows="auto" columns="auto, *">
        <Label class="label-description" text="Capital: {{country.capital}}" textWrap="true" row="0"
            col="0"></Label>
        <Button class="fas btn-circle" text="&#xf1f8;" row="0" col="1"
        (longPress)="handleRemoveCountry()"></Button>
    </GridLayout>
    <GridLayout rows="auto" columns="auto, *">
        <Button class="fas btn-circle" text="&#xf044;" row="0" col="0"
        (tap)="handleEditDescription()"></Button>
        <Label class="label-description" text="Detalle:{{'\n' + country.description}}" textWrap="true" row="0"
            col="1"></Label>
    </GridLayout>
</StackLayout>