<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Contactenos" colSpan="2"></Label>

        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>

<StackLayout>
    <Label class="contactus" text="aca podrá contactarse directamente con nosotros"></Label>
    <Label [text]="'Estoy en la plataforma de: ' + textToShow" textWrap="true"></Label>
    
</StackLayout>