<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Favoritos" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>

<StackLayout #layout>
  <ListView class="list-group" [items]="resultData">
    <ng-template let-nameNew="item">
      <GridLayout rows="auto" columns="auto, *, auto">
        <Image row="0" col="0" class="thumb img-circle" src="res://funcionalidad"></Image>
        <Label row="0" col="1" class="list-group-item-heading" text="{{nameNew.title}}" verticalAligment="center"></Label>
        <Button row="0" col="2" class="btn-favorite far" text="Leer más.."></Button>
      </GridLayout>
    </ng-template>
  </ListView>

</StackLayout>

<ActivityIndicator #activityIndicator [busy]="showActivityIndicator" width="100" height="100" class="activity-indicator">
</ActivityIndicator>