<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Settings" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>

<GridLayout rows="auto, auto" columns="*">
  <TextField row="0" col="0" #text="ngModel" [(ngModel)]="userNameValue" hint="Modificar el nombre de Usuario" minlen="3" required></TextField>
  <Button row="1" col="0" text="Guardar" (tap)="handleSaveNameUser(userNameValue)"></Button>
</GridLayout>