<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Details component" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>
<PullToRefresh (refresh)="refreshList($event)">
  <ListView class="list-group" [items]="filterData">
    <ng-template let-list="item">
      <FlexboxLayout>
        <Image class="thumb img-circle" src="res://funcionalidad"></Image>
        <Label class="list-group-item-heading" text="{{list}}" verticalAligment="center"></Label>
      </FlexboxLayout>
    </ng-template>
  </ListView>
</PullToRefresh>